{% include "base.html" %}



<div class="card mx-auto mt-4 " style="width: 18rem;">
    <img src="{{url_for('static', filename='img/surya.webp')}}" class="card-img-top" alt="..." height="200px">
    <div class="card-body">
      <p class="card-text">
        Code Crafters  is  a project tracking website which is 
        designed to help individuals and teams manager to monitor
         the progress of their projects. 
   
        .</p>
    </div>
  </div>

{% include "footer.html" %}