<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill the data</title>
</head>
<body>
    <p>Fill The data</p>
    <form action="/formlogin" method="post" enctype="multipart/form-data" >  
        <table>
            <tr>Name: <input type="text" name="uname" > </tr>
            <tr>Email: <input type="email" name="email" > </tr>
            <tr>Contact: <input type="text" name="contact" > </tr>
            <tr>Pin code: <input type="text" name="pincode" > </tr>
            <tr>chose File: <input type="File" name="file"> </tr>
        </table>
        <button type="submit" value="submit" ></button>
    </form>
</body>
</html>